.btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.title {
    margin-bottom: 20px;
}

body{
    color: white;
    text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/91/Wimbledon_2019_Nadal_v_Sousa.jpg');
    background-size: cover;
}

img {
    margin: 25px;
}