.btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

body{
    margin-bottom: 25px;
    text-align: center;
}

.imgstyle{
    border-style: dashed;
    border-width: 5px;
    margin: 5px;
}

img {
    margin: 5px;
}