.btn {
    margin-right: 5px;
    margin-bottom: 5px;
}


body{
    color: white;
    text-align: center;
    background-image: url('https://wallpapercave.com/wp/wp2878374.png');
    background-size: 100% 1000px;
    margin-top: 10px;
}

